.widget-overview-box {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;

  min-height: 6rem;
  position: relative;
  border-left: 4px solid;
}
.widget-overview-box .overview-title {
  font-weight: 600;
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.widget-overview-box .overview-icon {
  display: inline-block;
  border-radius: 4px;
  width: 2em;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}
.widget-overview-box .overview-icon i {
  font-size: 1rem;
  line-height: inherit;
}
.widget-overview-box .overview-detail {
  text-align: center;
  margin-top: 1rem;
}
.widget-overview-box .overview-detail .p-col-6 {
  padding: 0.5rem;
}
.widget-overview-box .overview-number {
  font-size: 1rem;
  font-weight: 600;
}
.widget-overview-box .overview-subtext {
  color: #6c757d;
  font-weight: 600;
  margin-top: 0.25rem;
}
.widget-overview-box .p-col-6:first-child {
  border-right: 1px solid #dee2e6;
}
.widget-overview-box.widget-overview-box-1 {
  border-left-color: #64b5f6;
}
.widget-overview-box.widget-overview-box-1 .overview-title {
  color: #64b5f6;
}
.widget-overview-box.widget-overview-box-1 .overview-icon {
  background: #64b5f6;
  color: #1976d2;
}
.widget-overview-box.widget-overview-box-2 {
  border-left-color: #7986cb;
}
.widget-overview-box.widget-overview-box-2 .overview-title {
  color: #7986cb;
}
.widget-overview-box.widget-overview-box-2 .overview-icon {
  background: #7986cb;
  color: #303f9f;
}
.widget-overview-box.widget-overview-box-3 {
  border-left-color: #4db6ac;
}
.widget-overview-box.widget-overview-box-3 .overview-title {
  color: #4db6ac;
}
.widget-overview-box.widget-overview-box-3 .overview-icon {
  background: #4db6ac;
  color: #00796b;
}
.widget-overview-box.widget-overview-box-4 {
  border-left-color: #4dd0e1;
}
.widget-overview-box.widget-overview-box-4 .overview-title {
  color: #4dd0e1;
}
.widget-overview-box.widget-overview-box-4 .overview-icon {
  background: #4dd0e1;
  color: #0097a7;
}
