.Background{position: absolute;left: 0px;top: 0px;}
.RedTable{position: absolute;left: 89px;top: 31px;}
.GreenTable{position: absolute;left: 89px;top: 31px;}
.TwoCards4{position: absolute;left: 140px;top: 739px;}
.Plate1{position: absolute;left: 1287px;top: 268px;}
.Plate2{position: absolute;left: 1527px;top: 467px;}
.Plate3{position: absolute;left: 1415px;top: 701px;}
.Plate4{position: absolute;left: 1085px;top: 731px;}
.Plate5{position: absolute;left: 755px;top: 729px;}
.Plate6{position: absolute;left: 413px;top: 703px;}
.Plate7{position: absolute;left: 325px;top: 467px;}
.Plate8{position: absolute;left: 563px;top: 279px;}
.TwoCards3{position: absolute;left: 1113px;top: 861px;}
.TwoCards2{position: absolute;left: 1602px;top: 689px;}
.TwoCards1{position: absolute;left: 1479px;top: 30px;}
.Card5{position: absolute;left: 659px;top: 542px;}
.Card4{position: absolute;left: 772px;top: 542px;}
.Pot.png{position: absolute;left: 907px;top: 456px;}
.pot_main.png{position: absolute;left: 904px;top: 456px;}
.sp_1{position: absolute;left: 1223px;top: 176px;}
.sp_2{position: absolute;left: 1554px;top: 330px;}
.sp_3{position: absolute;left: 1481px;top: 649px;}
.sp_4{position: absolute;left: 1215px;top: 734px;}
.sp_5{position: absolute;left: 626px;top: 735px;}
.sp_6{position: absolute;left: 358px;top: 650px;}
.sp_7{position: absolute;left: 285px;top: 328px;}
.sp_8{position: absolute;left: 626px;top: 174px;}
.Card3{position: absolute;left: 885px;top: 542px;}
.Card2{position: absolute;left: 1048px;top: 540px;}
.Card1{position: absolute;left: 1162px;top: 540px;}
.Meter8{position: absolute;left: 210px;top: 98px;}
.Meter7{position: absolute;left: 3px;top: 412px;}
.Meter6{position: absolute;left: 125px;top: 797px;}
.Meter5{position: absolute;left: 459px;top: 891px;}
.Meter4{position: absolute;left: 1088px;top: 891px;}
.Meter3{position: absolute;left: 1449px;top: 746px;}
.Meter2{position: absolute;left: 1539px;top: 412px;}
.Meter1{position: absolute;left: 1334px;top: 66px;}
.Meter1 copy{position: absolute;left: 1388px;top: 93px;}
.userUI5{position: absolute;left: 619px;top: 814px;}
.userUI7{position: absolute;left: 33px;top: 388px;}
.userUI1{position: absolute;left: 1641px;top: 365px;}
.userUI4{position: absolute;left: 996px;top: 815px;}
.FunPalaceTop{position: absolute;left: 852px;top: 13px;}
.FunPalaceCenter{position: absolute;left: 423px;top: 480px;}
.TexasHoldem{position: absolute;left: 665px;top: 386px;}